<div class="container animation">
    <div class="row">
        <div class="col-6">
            <h1 style="float: left;">{{title}}</h1>
        </div>
        <div class="col-6">
            <a routerLink="/cart" style="float: right;">
                <img src="assets/img/cart.svg" alt="Cart" width="40" height="40">
            </a>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        @for(product of products; track product.id){
            <div class="col-lg-3 col-md-4 col-sm-6 mb-4">
                <div class="card">
                    <img [src]="product.img" class="card-img-top" alt="Product Image">
                    <div class="card-body">
                        <h5 class="card-title">{{ product.nombre }}</h5>
                        <p class="card-text">{{ product.categoria }}</p>
                        <p class="card-text">Precio: {{ product.precio }}</p>
                        <button class="btn btn-primary" (click)="addToCart(product)">Añadir al carrito</button>
                    </div>
                </div>
            </div>
        }
    </div>
</div>