/*Clases para mini navegacion de items en array para componente about con css */
.btn-custom{
    color: white;
    background: rgb(33, 37, 41);
}

.nav-link{
    color: rgb(33, 37, 41);;
    background: white;
}

.active{
    color: white;
    background: rgb(33, 37, 41);
}

.animation {
    animation: slideFromLeft 0.5s ease-in-out;
  }

@keyframes slideFromLeft {
    from {
      transform: translateX(-100%);
    }
    to {
      transform: translateX(0);
    }
  }

    /* Animación para deslizar tarjetas desde la abajo */
    .animation2 {
      animation: slideFromBottom 0.5s ease-in-out;
    }
    
    /* Animación para deslizar desde la abajo */
    @keyframes slideFromBottom {
      from {
        transform: translateY(100%);
      }
      to {
        transform: translateY(0);
      }
    }